@import url();

*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* HEADER */

header{
    background-color: #1A1A1D;
    color:#f0ba8fe3;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    color: rgb(218, 218, 208);
}

section{
    color: rgb(218, 218, 208);
    padding: 10px;
}

div{
    background-color:#1a1d1dc5;
    padding: 30px 50px;
    margin: 40px 300px;
    border-radius: 10px;
    line-height: 1.6;
}

img{
    height: 50vh;
    border-radius: 7px;
    border: 5px solid rgb(11, 184, 184);
}

img:hover{
    transform: scale(1.1); 
    transition: transform 1s;   
}

/* MAIN */

main{
    text-align: center;
    background-color: #55659e;
    font-size: 18px;
}

span{
    color:rgb(10, 218, 218);
}

.primero{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

h3{
    color: #f0ba8fe3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5px;
}

.segundo{
    margin-top: 20px;
}

div ul{
    text-align: justify;
    color:rgb(218, 218, 208);
    font-size: 18px;
    padding: 0 100px;
    margin-top: 20px;
}

footer{
    background-color: #1A1A1D;
    color: #f0ba8fe3;
    text-align: center;
    padding: 20px;
}
